
.env
private.pem
public.pub
.DS_Store

node_modules


.github/workflows/cndi-run.yaml
.github/CNDI_GITHUB_README.md

dist/cndi-linux
dist/cndi-mac
dist/cndi-win.exe
.keys

cndi/terraform/.terraform*
cndi/terraform/*.tfstate*
cndi/terraform/.terraform/

cndi