cndi_version: v3
project_name: basic-cluster
provider: aws # or 'gcp', 'azure', 'dev'
distribution: eks # or 'clusterless', 'gke', 'aks', 'microk8s'
region: us-east-1
infrastructure:
  cndi:
    gitops:
      argocd:
        hostname: argocd.polyseam.io
    observability:
      grafana:
        hostname: observability.polyseam.io
    cert_manager:
      email: matt.johnston@polyseam.io
    nodes:
      - name: airflow-alpha
        instance_type: t3.medium # or 'n1-standard-2', 'Standard_D2_v2'
        disk_size: 100

cluster_manifests: {}
applications: {}
