name: Checks, Tests, Builds
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
env: # this is a Read-Only token for Public Repositories see: https://github.com/polyseam/cndi/pull/863
  GH_TOKEN: ${{ secrets.GH_TOKEN }}
  CNDI_TELEMETRY: "none"
jobs:
  checks:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - uses: denoland/setup-deno@v2
        with:
          deno-version: v2.2.12

      - run: deno task checks

      - name: Install cndi dependency binaries
        run: mkdir -p /home/runner/.cndi/bin && cp ./dist/linux-amd64/in/* /home/runner/.cndi/bin

      - run: deno task test

  bin-build-test-ubuntu-amd64:
    runs-on: ubuntu-24.04
    needs: checks
    steps:
      - uses: actions/checkout@v4

      - uses: denoland/setup-deno@v2
        with:
          deno-version: "v2.2.12"

      - run: deno task build-linux-amd64

      - run: ./dist/linux-amd64/in/cndi --help
        timeout-minutes: 1

  bin-build-test-ubuntu-arm64:
    runs-on: ubuntu-24.04-arm
    needs: checks
    steps:
      - uses: actions/checkout@v4

      - uses: denoland/setup-deno@v2
        with:
          deno-version: "v2.2.12"

      - run: deno task build-linux-arm64

      - run: ./dist/linux-arm64/in/cndi --help
        timeout-minutes: 1

  bin-build-test-macos-amd64:
    runs-on: macos-13 # macOS 13 Ventura intel-based
    needs: checks
    steps:
      - uses: actions/checkout@v4

      - uses: denoland/setup-deno@v2
        with:
          deno-version: "v2.2.12"

      - run: deno task build-mac-amd64

      - run: ./dist/mac-amd64/in/cndi --help
        timeout-minutes: 1

  bin-build-test-macos-arm64:
    runs-on: macos-15 # macOS 15 Sequoia apple silicon
    needs: checks
    steps:
      - uses: actions/checkout@v4

      - uses: denoland/setup-deno@v2
        with:
          deno-version: "v2.2.12"

      - run: deno task build-mac-arm64

      - run: ./dist/mac-arm64/in/cndi --help
        timeout-minutes: 1

  bin-build-test-windows-amd64:
    runs-on: windows-latest
    needs: checks
    steps:
      - uses: actions/checkout@v4

      - uses: denoland/setup-deno@v2
        with:
          deno-version: "v2.2.12"

      - run: deno task build-win-amd64

      - run: ./dist/win-amd64/in/cndi.exe --help
        timeout-minutes: 1
