on:
  pull_request:
    branches:    
      - main
jobs:
  test_and_lint: # cndi
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
        
      - name: use deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: v1.45
      
      - name: Check formatting
        run: deno fmt --check
        
      - name: Lint
        run: deno lint

      - name: Install cndi dependency binaries
        run: deno task cp-linux-bin-deps

      - name: Test
        run: deno task test
