name: main # used by the cndi team, not end users
on:
  push:
    branches:
      - "main"
jobs:
  main-test-and-lint:
    runs-on: ubuntu-20.04
    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: use deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.1.4

      - run: deno lint

      - name: Install cndi dependency binaries
        run: mkdir -p /home/runner/.cndi/bin && cp ./dist/linux/in/* /home/runner/.cndi/bin

      - run: deno task test

  main-build: # cndi
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: use deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.1.4

      - run: deno task build

      - id: upload-source-code
        uses: jakejarvis/s3-sync-action@v0.5.1
        with:
          args: --acl public-read --follow-symlinks --delete
        env:
          AWS_S3_BUCKET: "cndi-binaries"
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: "us-east-1"
          SOURCE_DIR: "./dist/release-archives"
          DEST_DIR: "cndi/main"
